<h2>{{getGiornoFromNumero(giorno)}}</h2>

<form #iscrizioneForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-md-3"><label>Ora di partenza</label>
    </div>
    <div class="col-md-3">
      <select class="form-control" required [(ngModel)]="slotScelto"
             name="slot">
        <option *ngFor="let slot of slotDisponibili" [ngValue]="slot">{{slot.ora}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3"><label>Numero ore</label>
    </div>
    <div class="col-md-3">
      <select class="form-control" required [(ngModel)]="ore"
              name="slot">
        <option *ngFor="let ora of oreList" [ngValue]="ora">{{ora}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="admin && utenti">
    <br/><br/>
    <h3>Iscrivi altro utente</h3>
    <div class="form-group">
      <div class="form-label">Utente</div>
      <input type="list" class="form-control" list="utentiList" name="utente" [(ngModel)]="utente"/>
      <datalist id="utentiList">
          <option *ngFor="let u of utenti" [ngValue]="u">{{u.cognome + " " + u.nome}}</option>
      </datalist>
  </div>
  <!-- <div class="row form-group">
      <div class="col-md-3" ><label >Iscrivi anche se slot pieno</label>
      </div>
      <div class="col-md-3 form-check">
        <input type="checkbox" class="position-static " [(ngModel)]="forza"
              name="forza"/>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <button type="submit" [disabled]="!iscrizioneForm.form.valid" class="btn btn-success">Iscrivi</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
      <app-back-button></app-back-button>
    </div>
  </div>
</form>
<ngb-toast
  class="alert alert-danger"
  *ngIf="showSlotNelPassatoToast"
  [delay]="5000"
  (hide)="showSlotNelPassatoToast = false;"
>
  <span class="alert alert-danger">Lo slot selezionato e' gia' passato</span>
</ngb-toast>
