/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.card-giorno {
  margin-bottom: 20px;
  padding: 15px;
  background: #EEEEEE40;
}
button {
  margin: 10px;
}
