<div class="card" *ngIf="iscrizioni && iscrizioni.length > 0">
  <div class="card-header">
    Iscrizioni attive
  </div>
  <div class="card-body">
    <div *ngFor="let giorno of giorni">
      {{ getGiornoFromNumero(giorno)}}
      <ul>
        <li *ngFor="let iscrizione of getOre(giorno)">
          Ore {{iscrizione.ora}} <button class="btn btn-danger btn-sm" (click)="elimina(iscrizione.id)">Elimina</button>
        </li>
        <button class="btn btn-danger" (click)="eliminaGiorno(giorno)" ]>Elimina tutte per questo giorno</button>
      </ul>
    </div>
  </div>
</div>
<div class="card" *ngIf="!iscrizioni || iscrizioni.length == 0">
  <div class="card-header">
    Iscrizioni attive
  </div>
  <div class="card-body">
    <i>Non hai iscrizioni per questa settimana</i>
  </div>
</div>
