.btn-iscritti{
    border-bottom-right-radius: 40px!important;
    border-top-right-radius: 40px!important;
    margin-left:-31px!important;
    margin-top: -1px!important;
    background-color: white!important;
    width:50px;
}
.slot-giorno{
    text-align: center;
}